* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#homemenu ul{
    list-style: none;
    padding:0;
    background-color: rgb(5, 5, 5);
}

#homemenu ul li {
    display:inline ;
}

#homemenu ul li a  {
    
    color: rgb(249, 249, 250); 
    padding: 40px ;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}
#homemenu ul li a:hover {
    background-color: rgb(42, 42, 218)
}

h1{
    color: rgb(13, 14, 14);
}

nav {
    margin : 20px;
}