* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#homemenu ul{
    list-style: none;
    padding:0;
    background-color: rgb(2, 2, 2);
}

#homemenu ul li {
    display:inline ;
}

#homemenu ul li a  {
    
    color: aqua; 
    padding: 40px ;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}
#homemenu ul li a:hover {
    background-color: rgb(125, 125, 143)
}
body {
    margin: 0;
    background-color: rgb(233, 225, 225);
}
    
body {
    margin: 0;
    background-color: rgb(20, 20, 20);
    
}
#nav1 {
    margin: 0;
     padding: 20px ;
     color: aliceblue;
}
#nav1 h1{
    text-align: center;
    color: aqua;
    font-size: 80px;
    
}
#nav1 h2 {
    font-size: 40px;
    text-align: start 100px;
    color: aqua;
    padding: 30px ;
}
#nav1 p {
    text-align: start 0px;
    font-size: 25px;
    padding: 20px;
}

u {
    padding: 30px auto;
}