html{
    background-color: rgb(8, 8, 8);
}
body{
    
    background-color: aliceblue;
    margin: 0 auto;
    
    
}


#basicomenu ul{
    list-style: none;
    padding:0;
    background-color: rgb(6, 7, 7); 
}

#basicomenu ul li {
    display:inline ;
}

#basicomenu ul li a  {
    
    color: rgb(249, 249, 250); 
    padding: 40px  ;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}
#basicomenu ul li a:hover {
    background-color: rgb(42, 42, 218);
}


 h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    padding: 60px;
 }

 #iniciohtml {

    font-size: 40px;
    margin-inline-start:  50px;
    
 }

 #txt1 {
    font-size: 25px;
    margin: 15px;
    padding: 20px;
 }
#menuguia {
    background-color: antiquewhite;
}

 
 #menuguia ol{
    width: 100px;
     padding: 20px;
     background-color: aqua;
    mask-position: 0; 
 }

#menuguia ol li {
    display: flex;
    
}

#menuguia ol li a  {
    
    color: rgb(17, 17, 17); 
    padding: 10px  ;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menuguia ol li a:hover {
    background-color: rgb(185, 185, 211);
    display: inline block;

}
 h3 {
    text-align: center;
    font-size: 35px;
 }
 p {
    
        font-size: 25px;
        margin: 15px;
        padding: 20px;

 }
